p, a {
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	background-color: black; 
	height: 80px; 
	border-radius: 0px; 
}

.navbar-inner {
	margin-top: 12px; 
}


/* spreads out navbar items */
.headerlinks a {
	padding-left: 24px; 
	font-size: 14px; 
	font-weight: bold; 
}

.navbar p {
	color: white; 
}
.navbar .first {
	margin-left: 0px; 
}

/* for cards */
.card-link {
	hover: none; 
	color: black; 
}

.card-link:hover{
	cursor: pointer;
	color: grey; 
}

.card h3 {
	margin-top: 16px;
	text-align: center; 
}

.card p {
	font-size: 14px; 
}

.card {
	min-height: 450px;
}


/****************** FRONT PAGE ********************/ 
.showcase-container {
	//background-color: red; 
	margin-top: 64px; 
}

.showcase-container a {
	text-align: center; 
	font-size: 14px;
	color: black; 
}

.welcome-container {
	margin-top: 128px; 
}

/****************** PROJECTS PAGE *****************/ 
.project-page h1 {
	text-align: center;
	margin-top: 24px;
}
.projects-container {
	margin-top: 24px; 
}

.search-field {
	margin-top: 24px; 
}

/* Search field and button css */ 
.tag-container {
	background-color: red; 
	margin-top: 12px; 
}

.tag:first-child {
	margin-left: 0px; 
}
.tag button {
	background-color: orange; 
}
.tag:hover button {
	background-color: green; 
}

.post-container p {
	font-size: 14px; 
}

.post-container h4 {
	margin-bottom: 0px; 
}

figcaption {
	font-size: 12px; 
}

iframe {
    margin: 24px auto;
    display: block;
}

.project-meta-info {
	margin-bottom: 12px; 
}
.project-meta-info p {
	font-size: 14px; 
	margin-top: 0px; 
	margin-bottom: 0px;
}

.meta-label {
	color: red; 
}

.add-filter .Select-control { 
	background-color: gray;
}

/****************** ABOUT PAGE ********************/ 
.about-container {
	margin-top: 48px; 
}

.about-container {
	font-size: 14px; 
}

.about-img-container {
	margin-top: 96px; 
}

figcaption {
	font-size: 14px;
	font-weight: bold; 
}

/****************** CV PAGE ********************/ 
.cv-page {
	margin-top: 24px;
}
.courses-container li {
	font-size: 14px; 
}

footer {
	margin-top: 175px; 
	margin-bottom: 40px; 
}
footer p {
	display: inline;
	margin-top: 6px; 
	font-size: 14px; 
}

footer img {
	margin-left: 12px; 
}

footer img .first {
	margin-left: 0px; 
}

.no-radius {
	border-radius: 0px !important; 
}

